/* Defaul CSS */

/* Google Fonts Links */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

/* Default */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 0;
}

/* HTML */
html {
    scroll-behavior: smooth;
}

/* Default */
/* Navigation Bar */
#navbar_container {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: none;
    height: 100vh;
    box-sizing: border-box;
    border: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #ededed;
    /* border-bottom-right-radius: 100px; */
}

/* Logo */
#logo {
    margin: 5vh 1vw 0vh 1vw;
    cursor: pointer;
    width: 7vw;
}

#navbar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#navbar ul a {
    color: rgb(0, 0, 0);
    font-size: 3vw;
    padding: 2vh 0.5vw 1vh 0.5vw;
    margin: 3vh 1.5vw 5vh 2.5vw;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

#navbar ul a:active {
    transform: scale(1.2);
}

.tooltip {
    display: none;
}

/* Slidebar */
.none {
    display: none;
}

/* Section */
/* Head */
.hero-section div {
    display: flex;
    margin-left: 17vw;
}

/* Heading */
.hero-section h1 {
    font-size: 7vw;
    text-align: center;
    padding-top: 15vh;
    font-family: 'PT Sans', sans-serif;
}

/* Hero Img */
.hero-section img {
    margin-top: 15vh;
    width: 30vw;
}

.attract-line {
    font-size: 2vw;
}

/* My Profile Button */
.profile {
    margin-top: -10vh;
    text-decoration: none;
    font-size: 2.3vw;
    /* border: 1px solid transparent; */
    color: #ffff;
    padding: 1vh 3vw;
    font-family: 'PT Sans', sans-serif;
    background: #f2542d;
}

/* main Content */
/* Picbry */
#picbry h1 {
    margin-top: 5vh;
    font-size: 7vw;
    text-align: center;
}

#picbry h2 {
    font-size: 4vw;
    margin-top: 5vh;
    text-align: center;
}

#picbry p {
    font-size: 1.7vw;
    margin-top: 5vh;
    text-align: center;
}

/* Collage-1 */
.collage-1 {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
}

.collage-1 img {
    margin: 1vw;
    width: 15vw;
    height: 50vh;
}

/* Arrows */
/* .collage-1 i{
        font-size: 3vw;
        align-self: center;
        margin: 2vw;
        cursor: pointer;
        color: #696969;
    } */

/* Footer */
#footer {
    margin-left: 15vw;
    margin-top: 10vh;
}

#footer img {
    margin: 5vh 1vw 0vh 0vw;
    cursor: pointer;
    width: 7vw;
}

#footer h1 {
    font-size: 1.5vw;
}

/* Line */
.line1 {
    border: 1.5px solid #5d5d5d;
    background: #5d5d5d;
    margin-top: 2vh;
    margin-right: 5vw;
    margin-bottom: 5vh;
}

/* Footer Content */
.footer-content {
    display: flex;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.solution {
    list-style: none;
    margin-left: -10vw;
    text-align: center;
}

.legal {
    list-style: none;
    text-align: center;
}

.company {
    list-style: none;
    text-align: center;
}

.support {
    list-style: none;
    text-align: center;
}

.li {
    font-size: 2vw;
    font-weight: 900;
    text-align: center;
}

.tabs {
    color: #909090;
    font-size: 1.5vw;
    text-decoration: none;
    font-weight: 700;
}

.tabs li {
    margin-top: 3vh;
}

.tabs:hover {
    color: #000;
}

/* line2 */
.line2 {
    border: 1.5px solid #5d5d5d;
    background: #5d5d5d;
    margin-top: 5vh;
    margin-right: 5vw;
    margin-bottom: 5vh;
}

#footer p {
    color: rgb(0, 0, 0);
    font-weight: 900;
    margin-bottom: 5vh;
}


/* Mobile CSS */
/* @media Query */
/* For media @320 to @500 */
@media (min-width: 300px) and (max-width: 560px) {

    /* Navigation Bar */
    #navbar_container {
        display: flex;
        flex-direction: row;
        height: 12vh;
        background: #ffffff;
        border: 1px solid rgb(255, 255, 255);
        width: 100%;
    }

    /* Logo */
    #logo {
        width: 20vw;
        margin-left: 42.5vw;
        margin-top: -1vw;
    }

    #navbar ul {
        display: flex;
        flex-direction: row;
        visibility: hidden;
    }

    /* Section */
    /* Head */
    .hero-section div {
        display: flex;
        flex-direction: column;
    }

    /* Heading */
    .hero-section h1 {
        font-size: 12vw;
        margin-left: -15vw;
        text-align: center;
        padding-top: 20vh;
        font-family: 'PT Sans', sans-serif;
    }

    /* Hero Img */
    .hero-section img {
        margin-top: 10vh;
        margin-left: -5vw;
        text-align: center;
        width: 80vw;
    }

    /* My Profile Button */
    .profile {
        font-size: 5vw;
        padding: 1vh 3vw;
        font-family: 'PT Sans', sans-serif;
        background: #f2542d;
    }

    /* main Content */
    /* Picbry */
    #picbry h1 {
        margin-top: 15vh;
        font-size: 10vw;
        text-align: center;
    }

    #picbry h2 {
        font-size: 6vw;
        margin-top: 5vh;
        text-align: center;
    }

    #picbry p {
        font-size: 3vw;
        margin-top: 5vh;
        text-align: center;
    }

    /* Collage-1 */
    @media screen and (max-width: 900px) {
        .carousel img {
            width: calc(100% / 2);
        }
    }

    @media screen and (max-width: 550px) {
        .carousel img {
            width: 100%;
        }
    }

    /* Arrows */
    /* .collage-1 i{
        font-size: 3vw;
        align-self: center;
        margin: 2vw;
        cursor: pointer;
        color: #696969;
    } */

    /* Footer */
    #footer {
        margin-top: 5vh;
    }

    #footer img {
        margin: 5vh 1vw 0vh 0vw;
        cursor: pointer;
        width: 15vw;
        margin-left: -10vw;
    }

    #footer h1 {
        font-size: 2.3vw;
        margin-left: -10vw;
    }

    /* Line */
    .line1 {
        border: 1.5px solid #5d5d5d;
        margin-top: 2vh;
        margin-right: 5vw;
        margin-bottom: 5vh;
        margin-left: -10vw;
    }

    /* Footer Content */
    .footer-content {
        display: flex;
        justify-content: center;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .solution {
        display: none;
    }

    .legal {
        list-style: none;
        text-align: center;
        margin-right: 20vw;
        margin-left: -10vw;
    }

    .company {
        display: none;
    }

    .support {
        list-style: none;
        text-align: center;
    }

    .li {
        font-size: 6vw;
        font-weight: 900;
    }

    .tabs {
        color: #909090;
        font-size: 3vw;
        text-decoration: none;
        font-weight: 700;
    }

    .tabs li {
        margin-top: 3vh;
    }

    /* line2 */
    .line2 {
        border: 1.5px solid #5d5d5d;
        margin-top: 5vh;
        margin-right: 5vw;
        margin-bottom: 5vh;
        margin-left: -10vw;
    }

    #footer p {
        color: rgb(0, 0, 0);
        font-weight: 900;
        font-size: 3vw;
        margin-bottom: 5vh;
    }



    /* Sign In CSS */
    /* Container */
    .container {
        text-align: center;
        margin-top: 5vh;
    }

    /* Logo */
    .logo {
        height: 10vw;
    }

    /* Sign n Text */
    .sign-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 5.5vw;
        font-weight: 900;
    }

    .form {
        text-align: center;
        margin-top: 7vh;
    }

    .form label {
        justify-content: left;
        margin-left: 15vw;
        display: flex;
    }

    #email {
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        color: rgb(103, 103, 103);
    }

    #pass {
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        color: rgb(103, 103, 103);
    }

    #num {
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        color: rgb(103, 103, 103);
    }

    .form input {
        width: 70vw;
        height: 5vh;
        border-radius: 3px;
        padding-left: 1vw;
        border: 2px solid rgb(213, 213, 213);
    }

    button {
        font-family: 'Mulish', sans-serif;
        padding: 1.5vh;
        font-size: 4vw;
        width: 70vw;
        background: rgb(58, 30, 196);
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    button:hover {
        background: rgb(72, 39, 239);
    }
}

/* Tablet CSS */
/* @Media Query */
/* For media @560 to @900 */
@media (min-width: 560px) and (max-width: 900px) {

    /* Navigation Bar */
    #navbar_container {
        position: fixed;
        display: flex;
        flex-direction: row;
        border: none;
        height: 12vw;
        width: 100%;
        box-sizing: border-box;
        background-color: #ffffff;
        /* border-bottom-right-radius: 100px; */
    }

    /* Logo */
    #logo {
        margin: 2vh 1vw 0vh 5vw;
        cursor: pointer;
        width: 10vw;
    }

    #navbar ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-left: 11vw;
    }

    #navbar ul a {
        color: rgb(0, 0, 0);
        font-size: 4vw;
        padding: 2vw;
        margin: 2vh 0vw 0vh 5vw;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }

    #navbar ul a:active {
        transform: scale(1.2);
    }

    /* Section */
    /* Head */
    .hero-section div {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    /* Heading */
    .hero-section h1 {
        font-size: 11vw;
        text-align: center;
        padding-top: 20vh;
        margin-left: -15vw;
        font-family: 'PT Sans', sans-serif;
    }

    /* Hero Img */
    .hero-section img {
        margin-top: 10vh;
        width: 70vw;
    }

    /* My Profile Button */
    .profile {
        text-decoration: none;
        font-size: 5vw;
        padding: 1vh 3vw;
        font-family: 'PT Sans', sans-serif;
        background: #f2542d;
    }

    /* main Content */
    /* Picbry */
    #picbry h1 {
        margin-top: 10vh;
        font-size: 10vw;
        text-align: center;
    }

    #picbry h2 {
        font-size: 6vw;
        margin-top: 5vh;
        text-align: center;
    }

    #picbry p {
        font-size: 3vw;
        margin-top: 5vh;
        text-align: center;
        font-weight: 500;
    }

    /* Collage-1 */
    .collage-1 {
        display: flex;
        margin-top: 5vh;
        justify-content: center;
    }

    .collage-1 img {
        margin: 1vw;
        width: 20vw;
        height: 30vh;
    }

    /* Arrows */
    /* .collage-1 i{
        font-size: 3vw;
        align-self: center;
        margin: 2vw;
        cursor: pointer;
        color: #696969;
    } */

    /* Footer */
    #footer {
        margin-left: 15vw;
        margin-top: 5vh;
    }

    #footer img {
        margin: 5vh 0vw 0vh -10vw;
        cursor: pointer;
        width: 10vw;
    }

    #footer h1 {
        font-size: 2vw;
        margin-left: -10vw;
    }

    /* Line */
    .line1 {
        border: 1.5px solid #5d5d5d;
        margin-top: 2vh;
        margin-right: 5vw;
        margin-bottom: 5vh;
    }

    /* Footer Content */
    .footer-content {
        display: flex;
        justify-content: center;
        margin-top: 10vh;
        margin-left: 15vw;
        margin-bottom: 10vh;
    }

    .solution {
        list-style: none;
        text-align: center;
    }

    .legal {
        list-style: none;
        text-align: center;
    }

    .company {
        list-style: none;
        text-align: center;
    }

    .support {
        list-style: none;
        text-align: center;
    }

    .li {
        font-size: 3vw;
        margin-right: 10vw;
        font-weight: 900;
        text-align: center;
    }

    .tabs {
        color: #909090;
        font-size: 2vw;
        text-decoration: none;
        font-weight: 700;
    }

    .tabs li {
        margin-top: 3vh;
        margin-right: 10vw;
    }

    .tabs:hover {
        color: #000;
    }

    /* line2 */
    .line2 {
        border: 1.5px solid #5d5d5d;
        background: #5d5d5d;
        margin-top: 5vh;
        margin-right: 5vw;
        margin-bottom: 5vh;
    }

    #footer p {
        color: rgb(0, 0, 0);
        font-weight: 900;
        margin-bottom: 5vh;
        margin-left: -9vw;
    }


    /* Sign IN CSS */
    /* Container */
    .container {
        text-align: center;
        margin-top: 5vh;
    }

    /* Logo */
    .logo {
        height: 10vw;
    }

    /* Sign n Text */
    .sign-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        font-weight: 900;
    }

    .form {
        text-align: center;
        margin-top: 7vh;
    }

    .form label {
        justify-content: left;
        margin-left: 20vw;
        display: flex;
    }

    #email {
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        color: rgb(103, 103, 103);
    }

    #pass {
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        color: rgb(103, 103, 103);
    }

    #num {
        font-family: 'Montserrat', sans-serif;
        font-size: 3vw;
        color: rgb(103, 103, 103);
    }

    .form input {
        width: 60vw;
        height: 5vh;
        border-radius: 3px;
        padding-left: 1vw;
        border: 2px solid rgb(213, 213, 213);
    }

    button {
        font-family: 'Mulish', sans-serif;
        padding: 1.5vh;
        font-size: 3vw;
        width: 60vw;
        background: rgb(58, 30, 196);
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    button:hover {
        background: rgb(72, 39, 239);
    }
}


/* Large Screen CSS */
/* Large Screen */
@media (min-width: 1200px) and (max-width: 2500px) {

    /* Navigation Bar */
    #navbar_container {
        position: fixed;
        display: flex;
        flex-direction: column;
        border: none;
        height: 100vh;
        box-sizing: border-box;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border: none;
        background-color: #000000;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        background-color: #ededed;
    }

    /* Logo */
    #logo {
        margin: 5vh 0vw 0vh 1vw;
        cursor: pointer;
        width: 7vw;
    }

    #navbar ul {
        display: flex;
        flex-direction: column;
        list-style: none;
    }


    #navbar ul a {
        color: rgb(255, 255, 255);

    #navbar ul a{
        color: rgb(0, 0, 0);
        font-size: 3vw;
        padding: 0vh 0vw 0vh 0vw;
        margin: 3vh 1.5vw 5vh 2vw;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }

    #navbar ul a:active {
        transform: scale(1.2);
    }

    .tooltip {
        display: none;
    }

    /* Slidebar */
    .none {
        display: none;
    }

    /* Section */
    /* Head */
    .hero-section div {
        display: flex;
    }

    /* Heading */
    .hero-section h1 {
        font-size: 6vw;
        text-align: center;
        padding-top: 15vh;
        font-family: 'PT Sans', sans-serif;
    }

    /* Hero Img */
    .hero-section img {
        margin-top: 15vh;
        width: 30vw;
    }

    .attract-line {
        font-size: 2vw;
    }

    /* My Profile Button */
    .profile {
        margin-top: -10vh;
        text-decoration: none;
        font-size: 2.3vw;
        /* border: 1px solid transparent; */
        color: #ffff;
        padding: 1vh 3vw;
        font-family: 'PT Sans', sans-serif;
        background: #f2542d;
    }

    /* main Content */
    /* Picbry */
    #picbry h1 {
        margin-top: 5vh;
        font-size: 7vw;
        text-align: center;
    }

    #picbry h2 {
        font-size: 4vw;
        margin-top: 5vh;
        text-align: center;
    }

    #picbry p {
        font-size: 1.7vw;
        margin-top: 5vh;
        text-align: center;
    }

    /* Collage-1 */
    .collage-1 {
        display: flex;
        margin-top: 5vh;
        justify-content: center;
    }

    .collage-1 img {
        margin: 1vw;
        width: 15vw;
        height: 70vh;
    }

    /* Arrows */
    /* .collage-1 i{
        font-size: 3vw;
        align-self: center;
        margin: 2vw;
        cursor: pointer;
        color: #696969;
    } */

    /* Footer */
    #footer {
        margin-left: 15vw;
        margin-top: 10vh;
    }

    #footer img {
        margin: 5vh 1vw 0vh 0vw;
        cursor: pointer;
        width: 7vw;
    }

    #footer h1 {
        font-size: 1.5vw;
    }

    /* Line */
    .line1 {
        border: 1.5px solid #5d5d5d;
        background: #5d5d5d;
        margin-top: 2vh;
        margin-right: 5vw;
        margin-bottom: 5vh;
    }

    /* Footer Content */
    .footer-content {
        display: flex;
        justify-content: space-around;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .solution {
        list-style: none;
        margin-left: -10vw;
        text-align: center;
    }

    .legal {
        list-style: none;
        text-align: center;
    }

    .company {
        list-style: none;
        text-align: center;
    }

    .support {
        list-style: none;
        text-align: center;
    }

    .li {
        font-size: 2vw;
        font-weight: 900;
        text-align: center;
    }

    .tabs {
        color: #909090;
        font-size: 1.5vw;
        text-decoration: none;
        font-weight: 700;
    }

    .tabs li {
        margin-top: 3vh;
    }

    .tabs:hover {
        color: #000;
    }

    /* line2 */
    .line2 {
        border: 1.5px solid #5d5d5d;
        background: #5d5d5d;
        margin-top: 5vh;
        margin-right: 5vw;
        margin-bottom: 5vh;
    }

    #footer p {
        font-size: 2vw;
        color: rgb(0, 0, 0);
        font-weight: 900;
        margin-bottom: 5vh;
    }
      
    /* Sing In Page */
    /* Container */
    .container {
        text-align: center;
        margin-top: 5vh;
    }

    /* Logo */
    .logo {
        height: 5vw;
    }

    /* Sign n Text */
    .sign-text {
        font-family: 'Montserrat', sans-serif;
        font-size: 2vw;
        font-weight: 900;
    }

    .form {
        text-align: center;
        margin-top: 7vh;
    }

    .form label {
        justify-content: left;
        margin-left: 35vw;
        display: flex;
    }

    #email {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;
        color: rgb(103, 103, 103);
    }

    #pass {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;
        color: rgb(103, 103, 103);
    }

    #num {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5vw;
        color: rgb(103, 103, 103);
    }

    .form input {
        width: 30vw;
        height: 7vh;
        border-radius: 3px;
        padding-left: 1vw;
        border: 2px solid rgb(213, 213, 213);
    }

    button {
        font-family: 'Mulish', sans-serif;
        padding: 1.5vh;
        font-size: 2vw;
        width: 30vw;
        background: rgb(58, 30, 196);
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    button:hover {
        background: rgb(72, 39, 239);
    }
}
