    /* Google Fonts Links */
    @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

    /* Default */
    *{
        margin: 0;
        padding: 0;
    }

    body{
        font-family: 'Montserrat', sans-serif;
    }

    /* Scroll Bar */
    ::-webkit-scrollbar{
        width: 0;
    }

    /* HTML */
    html{
        scroll-behavior: smooth;
    }

    /* Default */
    /* Navigation Bar */
    #navbar_container{
        position: fixed;
        display: flex;
        flex-direction: column;
        border: none;
        height: 100vh;
        box-sizing: border-box;
        border: none;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        background-color: #ededed;
        /* border-bottom-right-radius: 100px; */
    }

    /* Logo */
    #logo{ 
        margin: 5vh 1vw 0vh 1vw;
        cursor: pointer;
        width: 7vw;
    }

    #navbar ul{
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    #navbar ul a{
        color: rgb(0, 0, 0);
        font-size: 3vw;
        padding: 2vh 0.5vw 1vh 0.5vw;
        margin: 3vh 1.5vw 5vh 2.5vw;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }     

    #navbar ul a:active{
        transform: scale(1.2);
    }     

    .tooltip{
        display: none;
    }

    /* Slidebar */
    .none{
        display: none;
    }

    /* Section */
    /* Head */
    .hero-section div{
        display: flex;
        margin-left: 17vw;
    }

    /* Heading */
    .hero-section h1{
        font-size: 7vw;
        text-align: center;
        padding-top: 15vh;
        font-family: 'PT Sans', sans-serif;
    }

    /* Hero Img */
    .hero-section img{
        margin-top: 15vh;
        width: 30vw;
    }

    .attract-line{
        font-size: 2vw;
    }

    /* My Profile Button */
    .profile{
        margin-top: -10vh;
        text-decoration: none;
        font-size: 2.3vw;
        /* border: 1px solid transparent; */
        color: #ffff;
        padding: 1vh 3vw;
        font-family: 'PT Sans', sans-serif;
        background: #f2542d;
    }

    /* main Content */
    /* Picbry */
    #picbry h1{
        margin-top: 5vh;
        font-size: 7vw;
        text-align: center;
    }

    #picbry h2{
        font-size: 4vw;
        margin-top: 5vh;
        text-align: center;
    }

    #picbry p{
        font-size: 1.7vw;
        margin-top: 5vh;
        text-align: center;
    }

    /* Collage-1 */
    .collage-1{
        display: flex;
        margin-top: 5vh;
        justify-content: center;
    }

    .collage-1 img{
        margin: 1vw;
        width: 15vw;
        height: 50vh;
    }

    /* Arrows */
    /* .collage-1 i{
        font-size: 3vw;
        align-self: center;
        margin: 2vw;
        cursor: pointer;
        color: #696969;
    } */

    /* Footer */
    #footer{
        margin-left: 15vw;
        margin-top: 10vh;
    }

    #footer img{
        margin: 5vh 1vw 0vh 0vw;
        cursor: pointer;
        width: 7vw;
    }

    #footer h1{
        font-size: 1.5vw;
    }

    /* Line */
    .line1{
        border: 1.5px solid #5d5d5d;
        background: #5d5d5d;
        margin-top: 2vh;
        margin-right: 5vw;
        margin-bottom: 5vh;
    }

    /* Footer Content */
    .footer-content{
        display: flex;
        justify-content: space-around;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    .solution{
        list-style: none;
        margin-left: -10vw;
        text-align: center;
    }

    .legal{
        list-style: none;
        text-align: center;
    }

    .company{
        list-style: none;
        text-align: center;
    }

    .support{
        list-style: none;
        text-align: center;
    }

    .li{
        font-size: 2vw;
        font-weight: 900;
        text-align: center;
    }

    .tabs{
        color: #909090;
        font-size: 1.5vw;
        text-decoration: none;
        font-weight: 700;
    }

    .tabs li{
        margin-top: 3vh;
    }

    .tabs:hover{
        color: #000;
    }

    /* line2 */
    .line2{
        border: 1.5px solid #5d5d5d;
        background: #5d5d5d;
        margin-top: 5vh;
        margin-right: 5vw;
        margin-bottom: 5vh;
    }

    #footer p{
        color: rgb(0, 0, 0);
        font-weight: 900;
        margin-bottom: 5vh;
    }

