    /* @media Query */
    /* For media @320 to @500 */
    @media (min-width: 300px) and (max-width: 560px) {

        /* Google Fonts Links */
        @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Mulish&display=swap');

        /* Mobile Screen */
        /* Navigation Bar */
        #navbar_container {
            display: flex;
            flex-direction: row;
            height: 12vh;
            background: #ffffff;
            border: 1px solid rgb(255, 255, 255);
            width: 100%;
        }

        /* Logo */
        #logo {
            width: 20vw;
            margin-left: 42.5vw;
            margin-top: -1vw;
        }

        #navbar ul {
            display: flex;
            flex-direction: row;
            visibility: hidden;
        }

        /* Section */
        /* Head */
        .hero-section div {
            display: flex;
            flex-direction: column;
        }

        /* Heading */
        .hero-section h1 {
            font-size: 12vw;
            margin-left: -15vw;
            text-align: center;
            padding-top: 20vh;
            font-family: 'PT Sans', sans-serif;
        }

        /* Hero Img */
        .hero-section img {
            margin-top: 10vh;
            margin-left: -5vw;
            text-align: center;
            width: 80vw;
        }

        /* My Profile Button */
        .profile {
            font-size: 5vw;
            padding: 1vh 3vw;
            font-family: 'PT Sans', sans-serif;
            background: #f2542d;
        }

        /* main Content */
        /* Picbry */
        #picbry h1 {
            margin-top: 15vh;
            font-size: 10vw;
            text-align: center;
        }

        #picbry h2 {
            font-size: 6vw;
            margin-top: 5vh;
            text-align: center;
        }

        #picbry p {
            font-size: 3vw;
            margin-top: 5vh;
            text-align: center;
        }

        /* Collage-1 */
        @media screen and (max-width: 900px) {
            .carousel img {
                width: calc(100% / 2);
            }
        }

        @media screen and (max-width: 550px) {
            .carousel img {
                width: 100%;
            }
        }

        /* Arrows */
        /* .collage-1 i{
        font-size: 3vw;
        align-self: center;
        margin: 2vw;
        cursor: pointer;
        color: #696969;
    } */

        /* Footer */
        #footer {
            margin-top: 5vh;
        }

        #footer img {
            margin: 5vh 1vw 0vh 0vw;
            cursor: pointer;
            width: 15vw;
            margin-left: -10vw;
        }

        #footer h1 {
            font-size: 2.3vw;
            margin-left: -10vw;
        }

        /* Line */
        .line1 {
            border: 1.5px solid #5d5d5d;
            margin-top: 2vh;
            margin-right: 5vw;
            margin-bottom: 5vh;
            margin-left: -10vw;
        }

        /* Footer Content */
        .footer-content {
            display: flex;
            justify-content: center;
            margin-top: 10vh;
            margin-bottom: 10vh;
        }

        .solution {
            display: none;
        }

        .legal {
            list-style: none;
            text-align: center;
            margin-right: 20vw;
            margin-left: -10vw;
        }

        .company {
            display: none;
        }

        .support {
            list-style: none;
            text-align: center;
        }

        .li {
            font-size: 6vw;
            font-weight: 900;
        }

        .tabs {
            color: #909090;
            font-size: 3vw;
            text-decoration: none;
            font-weight: 700;
        }

        .tabs li {
            margin-top: 3vh;
        }

        /* line2 */
        .line2 {
            border: 1.5px solid #5d5d5d;
            margin-top: 5vh;
            margin-right: 5vw;
            margin-bottom: 5vh;
            margin-left: -10vw;
        }

        #footer p {
            color: rgb(0, 0, 0);
            font-weight: 900;
            font-size: 3vw;
            margin-bottom: 5vh;
        }



        /* Sign In CSS */
        /* Container */
        .container {
            text-align: center;
            margin-top: 5vh;
        }

        /* Logo */
        .logo {
            height: 10vw;
        }

        /* Sign n Text */
        .sign-text {
            font-family: 'Montserrat', sans-serif;
            font-size: 5.5vw;
            font-weight: 900;
        }

        .form {
            text-align: center;
            margin-top: 7vh;
        }
        .form label{
            justify-content: left;
            margin-left: 15vw;
            display: flex;
        }
        
        #email{
            font-family: 'Montserrat', sans-serif;
            font-size: 3vw;
            color: rgb(103, 103, 103);
        }
        
        #pass{
            font-family: 'Montserrat', sans-serif;
            font-size: 3vw;
            color: rgb(103, 103, 103);
        }
        #num{
            font-family: 'Montserrat', sans-serif;
            font-size: 3vw;
            color: rgb(103, 103, 103);
        }

        .form input {
            width: 70vw;
            height: 5vh;
            border-radius: 3px;
            padding-left: 1vw;
            border: 2px solid rgb(213, 213, 213);
        }

        button {
            font-family: 'Mulish', sans-serif;
            padding: 1.5vh;
            font-size: 4vw;
            width: 70vw;
            background: rgb(58, 30, 196);
            color: white;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }

        button:hover {
            background: rgb(72, 39, 239);
        }
    }
